<div class="container">
   <div>
      <acme-navbar></acme-navbar>
   </div>
   <div class="jumbotron text-center">
      <form name="loginForm" ng-submit="vm.loginAcess()" novalidate>
         <div class="panel-body">

            <label>E-mail</label>
            <input  ng-minlength="5"
                    ng-maxlength="60"
                    type="text"
                    class="form-control"
                    required
                    ng-model="vm.user.email" />
            <label>Senha</label>
            <input  ng-minlength="6"
                    ng-maxlength="15"
                    type="password"
                    class="form-control"
                    required
                    ng-model="vm.user.password" />

         </div>
         <input type="submit" class="btn btn-primary" value="Acessar" />
      </form>
   </div>
</div>